<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{{ title | default: "xmit dev team" }}</title>
    <style>
      body {
        color: #fff;
        background-color: #000;
        font-family: sans-serif;
      }
      a {
        color: #ff0;
        text-decoration: none;
      }
      header,
      footer {
        text-align: center;
        font-style: italic;
      }
      h1 {
        font-style: normal;
      }
      footer {
        margin-top: 2em;
        border-top: 1px solid #222;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>{{ title | default: "🧑‍🚀 xmit dev team" }}</h1>
    </header>
    <main>{{ content }}</main>
    <footer>
      <p>We make <a href="https://xmit.co">xmit.co</a>.</p>
    </footer>
  </body>
</html>
